<div class="container-inner inner-default clearfix">
  <h1>新着順</h1>
  <% if ideas.present? %>
      <% ideas.each do |idea| %>
          <div class="idea-box">
            <div class="image">
              <div class="img-wrap">
                <% if idea.picture.present? %>
                    <%# 画像が存在したら %>
                    hogehoge
                <% else %>
                    <%# 画像が存在しなかったら  %>
                    <%= image_tag "no-image.png" %>
                <% end %>
              </div>
            </div>
            <div class="detail">
              <p class="title">
                <%= link_to idea.idea_name, idea_path(idea.id) %>
              </p>
            </div>
            <div id="like-link" class="action clearfix">
            </div>
          </div>
      <% end %>
  <% end %>
</div>
