<div class="container-inner inner-default clearfix">
  <% if ideas.present? %>
      <% ideas.each do |idea| %>
          <div class="idea-box">
            <div class="image">
              <div class="img-wrap">
                <% if idea.picture.present? %>
                    <%# 画像が存在したら %>
                    hogehoge
                <% else %>
                    <%# 画像が存在しなかったら  %>
                    <%= image_tag "no-image.png" %>
                <% end %>
              </div>
            </div>
            <div class="detail">
              <p class="title">
                <%= link_to "アイデア名： " + idea.idea_name, idea_path(idea.id) %>
              </p>
              <p>
                <%= link_to "投稿者名： " + idea.user.name, idea.user %>
              </p>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
