<div class="container-inner inner-sm clearfix">
  <div class="idea-single-main">
    <div class="image">
      <div class="img-wrap">
        <%# TODO アイデアイメージ %>
        <%= image_tag("no-image.png", alt: @idea.idea_name) %>
      </div>
    </div>
    <div class="title">

    </div>
  </div>
  <div class="idea-single-side">
    <div class="side-box">
      <h4 class="side-box-title">Likeしたユーザー</h4>
      <div class="side-box-body">
        <% # TODO Likeしたユーザー一覧 %>

      </div>
    </div>
    <div class="text-center">
    </div>
  </div>
</div>
