<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>アイデアでつながるSNS</h1>
      <% unless logged_in? %>
          <%= link_to 'アイデアを共有する', login_path, class: "btn btn-success btn-lg" %>
      <% else %>
          <%= link_to 'アイデアを共有する', new_idea_path, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
<h2>新着一覧</h2>
<%= render 'shared/feed' %>
<h2>タイムライン</h2>
<%= render 'ideas/ideas' , ideas: @ideas %>
